.home-container{
    width: 100%;
    max-width: 1180px;
    margin: 40px auto;
    text-align: center;
}

.home-container main{
    margin-top: 4em;
}

.home-container main .events-list{
    margin-top: 2em;
    padding: 0 10px;
}

.home-container .events-list .event-card:first-child{
    background-color: var(--primary);
    color: var(--font);
}

@media only screen and (min-width: 600px){
    .home-container{
        text-align: unset;
        padding: 0 32px;
    }

    .home-container main .events-list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1em 1em;
    }
}